@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white overflow-hidden;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 15s linear infinite;
  }

  .animate-shine {
    animation: shine 1.5s infinite;
  }

  @keyframes shine {
    0% {
      left: -100%;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      left: 100%;
      opacity: 0;
    }
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(31, 41, 55, 0.5);
    /* gray-800/50 */
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0891b2;
    /* cyan-600 */
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #06b6d4;
    /* cyan-500 */
  }
}