@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white overflow-hidden;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 15s linear infinite;
  }

  .animate-shine {
    animation: shine 1.5s infinite;
  }

  @keyframes shine {
    0% {
      left: -100%;
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      left: 100%;
      opacity: 0;
    }
  }
}